<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>***Aviso***</title>
</head>
<body>
    <article th:fragment="article" id="article" class="container" >  
      <img src="/img/aviso.png" style="height: 50px; width:50px" alt="aviso"> 
          <table>
          <thead>
            <tr><th>Conteúdo Indisponível</th></tr>
          </thead>
      
          <tbody>
            <tr th:each="inicial:${inicial}"><td><span th:text="${inicial.texto}" style="color:red" ></span></td></tr>
          </tbody>
      </table>
    </article>
</body>
</html>